body {
    margin: 0;
    padding-top: 55px;
    overflow-y: scroll;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, "Microsoft YaHei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none;
    background: url("https://perkai.pushplus.plus/background.jpg") no-repeat!important;
    background-size: cover!important;
    background-color: #f2f6ff! important;   
}

body::-webkit-scrollbar {
    display: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-content {
    padding: 4px;
}

.small-icon .icon {
    font-size: 1em !important;
}

.custom-footer {
    font-size: 1.1em;
}

@media only screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none !important;
    }
}

.ui.menu {
    background-color: rgba(255, 255, 255, 0)!important;
    box-shadow:none!important;
}

.ui.menu .active.item {
    border-bottom: 1px solid rgba(34,36,38,.15);
    background-color: rgba(0, 0, 0, 0)!important;
}

.div-flex {
    display: flex!important;
    justify-content: right!important;
    align-items: right!important;
}

.ui.segment{
    box-shadow: none!important;
    padding: 2.5rem!important;
}
